/* open-sans-regular - latin */
@font-face {
     font-family: 'Open Sans', sans-serif;
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/open-sans-v23-latin-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/open-sans-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/open-sans-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/open-sans-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/open-sans-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/open-sans-v23-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
   }
   /* open-sans-italic - latin */
   @font-face {
     font-family: 'Open Sans', sans-serif;
     font-style: italic;
     font-weight: 400;
     src: url('../fonts/open-sans-v23-latin-italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/open-sans-v23-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/open-sans-v23-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/open-sans-v23-latin-italic.woff') format('woff'), /* Modern Browsers */
          url('../fonts/open-sans-v23-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/open-sans-v23-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
   }
   /* open-sans-700 - latin */
   @font-face {
     font-family: 'Open Sans', sans-serif;
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/open-sans-v23-latin-700.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/open-sans-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/open-sans-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/open-sans-v23-latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/open-sans-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/open-sans-v23-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
   }
 
 
 #navigation-bar {
    padding: 1em;
 }
 
 #content-div {
    padding: 2.5em;
 }

 .error {
    background-color: coral;
    color: snow;
 }

 .success {
    background-color: green;
    color: snow;
}
 
 .dept-card {
    border-radius: 5%;
    border-color: grey;
    width: 500px;
    margin-top: 20px;
    padding-left: 15px;
    border-width: 1px;
 }

 .edit-buttons {
    display: flex;
    justify-content: space-between;
 }
 
 .edit {
    margin-right: 10px;
 }

 #link {
    color: black;
    font-weight: 300;
    text-decoration: none;
 }
 #link:hover {
    font-weight: 500;
    color: cornflowerblue;
 }