{% extends "index.html" %}
{% block title %}Employees{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<body>

        <h2>Employee detail</h2>
        <div class='edit-buttons float-end'>
                <a class="btn btn-warning edit" href="{{ url_for('edit_employee', id=page_data['employee']['id']) }}">Edit</a>
                 <form class="form-inline" 
                        action="{{ url_for('delete_employee', id=page_data['employee']['id']) }}" 
                        method="POST"
                        onsubmit="return confirm('Delete this employee?')">
                    <button class="btn btn-danger float-end" type="submit">Delete</button>
                </form>
        </div>
    
        <div class="dept-card">
            {% for key in page_data['order'] %}
                {% if key in page_data['employee'].keys() %}
                    <p><b>{{ key }}: </b>
                        {% if (key == 'department') and (page_data['employee'][key] != 'N/A') %}
                        <a id="link" href="{{ url_for('dept_detail', name=page_data['employee'][key]) }}">
                        {{ page_data['employee'][key] }}
                        </a>
                        {% else %}
                        {{ page_data['employee'][key] }}
                        {% endif %}

                        {% if (key == 'project') and (page_data['employee'][key]) %}
                        <a id="link" href="{{ url_for('project_detail', id=page_data['employee']['project_id']) }}">
                        {{ page_data['employee']['project'] }}
                        </a>
                        {% endif %}
                    </p>
                {% endif %}
            {% endfor %}
        </div>

</body>
{% endblock %}