{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<body>
    
    
    <h1>Graph HR demo </h1>
    <div style="padding-top: 20px">
    <p>- employee CRUD</p>
    <p>- department CRUD</p>
    <p>- aggregate queries overview</p>
    </div>
    <div style="padding-top: 20px">
    <b>Database used: </b><p>Neo4j Aura</p>
    <b>Frontend, backend: </b><p>Flask.py</p>
    <b>Author: </b><p>Dominik Hartinger</p>
    </div> 

    
</body>
{% endblock %}
