{% extends "index.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Employee{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<body>
    <h2>New employee</h2>
    <form method="post" onsubmit="return confirm('Add new employee?')">
        <dl>
            {{ render_field(form.surname) }}
            {{ render_field(form.name) }}
            {{ render_field(form.department) }}
            {{ render_field(form.position) }}
            {{ render_field(form.skills) }}
            {{ render_field(form.note) }}
        </dl>
        <button type="submit" class="btn btn-success">Add employee</button>
    </form>
</body>
{% endblock %}