{% extends "index.html" %}
{% block title %}Structure{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<body>
    
    <div style="text-align: center;"><h2>Structure overview</h2></div>
    <div style="text-align: center;"><p><a id="link" href="https://browser.neo4j.io">Neo4j browser</a> for visualization</p></div>
    <div style="margin-top: 30px;">
    <div class="container">
        <div class="row h-50" style="margin-top: 30px;">
          <div class="col-sm" style="text-align: center;">
            <b>Total employees</b>
            <p>{{ page_data['emp'] }}</p>
          </div>
          <div class="col-sm" style="text-align: center;">
            <b>Total departments</b>
            <p>{{ page_data['dep'] }}</p>
          </div>
          <div class="col-sm" style="text-align: center;">
            <b>Total COs</b>
            <p>{{ page_data['dir'] }}</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm" style="text-align: center;">
                <b>New hires</b>
                <p>{{ page_data['newbies'] }}</p>
            </div>
            <div class="col-sm" style="text-align: center;">
                <b>Terminated</b>
                <p>{{ page_data['terminated'] }}</p>
            </div>
            <div class="col-sm" style="text-align: center;">
                <b>+/- this month</b>
                {% if page_data['saldo'] >= 0 %}
                <p style="color: green">+{{ page_data['saldo'] }}</p>
                {% else %}
                <p style="color: red">{{ page_data['saldo'] }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    </div>

    
</body>
{% endblock %}
